.footer__content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* svg chest */
#treasure-chest-svg {
  height: var(--size-2xl);
  width: var(--size-2xl);
}

/* container mrr */
#mrr {
  justify-content: center;
  align-items: center;
}

/* immagine mrr */
#mrr img {
  width: 150px;
}

/* testo di risposta dinamico */
.game-text {
  font-family: "Fontin-regular", serif;
  display: none;
  font-size: var(--size-base);
  text-align: center;
}

.appear-animation {
  animation: appear 3s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer__title {
  font-size: var(--size-xs);
  font-weight: 400;
  color: var(--clr-slate400);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-user-select: "none";
  user-select: none;
  padding-bottom: 1rem;
}

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 14px;
  z-index: 9999;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0;
  color: var(--clr-yellow-2);
  background-color: transparent;
  /*  box-shadow: 0 0px 5px #aea508, 0 0px 0px #aea507, 0 0 10px 0px #aca408; */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btt-button {
  height: 2.1rem;
}

/* MD */
@media (min-width: 768px) {
  #toTopBtn {
    bottom: 20px;
    right: 30px;
  }

  #mrr img {
    width: 210px;
  }
}

/* LG */
@media (min-width: 1024px) {
  #treasure-chest-container {
    height: var(--size-3xl);
    width: var(--size-3xl);
  }

  .btt-button {
    height: 2.8rem;
  }
  /* 2XL */
  #mrr img {
    width: 328px;
  }
}

@media (min-width: 1536px) {
  #treasure-chest-svg {
    height: var(--size-4xl);
    width: var(--size-4xl);
  }
}
